<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Overview</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body id = "bodySearch">
  
  <div class="customizeDiv">



    <%-include('partials/navbar.ejs')%>

  
    <h1 id ="movieTitle"><%= movie.title %></h1>
    <div class="container mt-4">
      <div class="row">
    
    <div class="col-md-4 text-center">
   <img id = "posterPic" src="https://image.tmdb.org/t/p/w200<%= movie.poster_path %>" width ="285" height = "315"> 
    </div>
    <div class="col-md-8">
    <% if (trailer) { %>
       <iframe width="535" height="315"
        src="https://www.youtube.com/embed/<%= trailer.key %>"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
     
    <% } else { %>
      No trailer found.
    <% } %>
  </div>
  </div>
  </div>


    <br>
    <b>Director:</b>
    <% if (director) { %>
      <%= director.name %>
    <% } else { %>
      No Director found.
    <% } %>
    <br>
    <b>Release Date:</b>
    <%=movie.release_date %>
    <br>
    <b>Revenue:</b>
   $<%=movie.revenue.toLocaleString()%>
    <br>
    <b>Budget:</b>
    $<%=movie.budget.toLocaleString()%>
    <br>
    <b>Runtime:</b>
    <%=movie.runtime%> minutes
    <br>
    <b>Genre:</b>
    <% for (let i = 0; i < movie.genres.length; i++) { %>
        <%= movie.genres[i].name %>,
      <% } %>
    <br>

    <b>Cast:</b>
    <% for (let i = 0; i < Math.min(15,cast.length); i++) { %>
        <%= cast[i].name%> - <%= cast[i].character%>,
      <% } %> ...
    <br>
    <br>

    <b>Summary:</b>
    <article><%= movie.overview %></article>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <h2><b>Our Users' Score: 5/5</b></h2>
    <hr>
    <h2><b>Our Users' Reviews:</b></h2>
    <i>No reviews found.</i>
    <hr>
    <b>TMDB Voter Rating:</b>
    <% if (director) { %>
    <%= movie.vote_average %>/10
    <% } else { %>
      No TMDB Rating found
    <% } %>
    <hr>
    <h2><b>TMDB Reviews: </b></h2> <br>

    <br>
    <% if (reviews && reviews.length > 0) { %>
      <% for (let i = 0; i < reviews.length; i++) { %>
        <h5><%= reviews[i].author %></h5>
        <p><%= reviews[i].content %></p>
        <small>Written on: <%= reviews[i].created_at %></small>
        <hr>
      <% } %>
    <% } else { %>
      <p>No reviews found.</p>
    <% } %>
      <br>
      <b>Recommendations:</b>
      <br>
      <% if (recommendations && recommendations.length > 0) { %>
        <% for (let i = 0; i <  Math.min(4,recommendations.length); i++) { %>
          <% let rec = recommendations[i]; %>
          <div id ="recSlots">
            <h5 class = "movieTitle"><%= rec.title %></h5>
            <% if (rec.poster_path) { %>
              <a href="/movie/<%=rec.id %>">
                <img class = "movie-poster" src="https://image.tmdb.org/t/p/w200<%= rec.poster_path %>" alt="<%= movie.title %> poster">
              </a>
              <% } else { %>
                <p>No poster available</p>
              <% } %>
            
          </div>
        <% } %>
      <% } else { %>
        <p>No recommendations found.</p>
      <% } %>
    </div>
</body>
</html>